@font-face {
  font-family: 'pixel_operator_8regular';
  src: url('../fonts/pixeloperator8-webfont.woff2') format('woff2'),
    url('../fonts/pixeloperator8-webfont.woff') format('woff'),
    url('../fonts/pixeloperator8-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bg-grad {
  background: url('../img/header-span.jpg');
  background-size: 100% 100%;
  background-position: center top;
  height: 95px;
  width: 100%;
}

body {
  background-image: url(../img/galaxy-background.jpg);
  background-size: cover;
  /* background-color: #3d2dd8;
  cursor: url(../img/32x32.png), auto; */
  margin: 0;
  /* font-size: 1.5rem;
  font-family: 'pixel_operator_8regular';
  color:#ffe4ff; */
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

/* HEADER */
.logo {
  text-align: center;
  font-family: 'pixel_operator_8regular';
  font-size: 50px;
  color: #ffe4ff;
  margin-top: 0;
}

.logo-mobile {
  display: none;
  text-align: center;
  font-family: 'pixel_operator_8regular';
  font-size: 60px;
  color: #ffe4ff;
  margin-top: 0;
}

.header {
  width: 100%;
  padding: 15px;
  text-align: center;
  height: 95px;
  position: relative;
}

.header nav {
  margin-top: 0;
}

.header nav ul {
  list-style: none;
  margin: 0;
  display: table;
  width: 100%;
  padding-left: 0;
  margin-top: 8px;
}

.header nav ul li {
  display: table-cell;
  padding: 10px;
  text-align: center;
}

.header nav ul li ul {
  display: none;
  position: absolute;
  border-top: 6px solid #ea85ff;
  width: 142px;
}

.header nav ul li ul li {
  text-align: left;
}

.header a {
  color: #fce5ff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'pixel_operator_8regular';
}

.logo-wrapper {
  display: block;
}

.homepage {
  background-color: #391DA1;
}

/* Body */
main {
  background: url('../img/pixel-art-background.gif');
  background-size: 100%;
  background-position: center top;
  height: calc(100vh - 95px);
  width: 100%;
  background-repeat: no-repeat;
}

.header nav ul li.open ul {
  display: block;
}

.sub-menu li {
  display: block;
  padding: 5px;
}

ul.sub-menu {
  position: relative;
  background-color: rgba(55, 55, 255, .6);
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
}

.sub-menu a {
  font-size: 12px;
}

.text {
  width: 65%;
  margin: 120px auto;
  text-align: justify;
  line-height: 1.9;
  font-family: 'pixel_operator_8regular';
  color: #ffe4ff;
}

.parallax {
  width: 100vw;
  height: 100%;
  padding-top: 20vh;
  /* box-sizing: border-box; */
}

.parallax::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('../img/galaxy-background.jpg');
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.content {
  margin: 0 auto;
  padding: 50px;
  width: 65%;
  background: #3d2dd8;
  opacity: 0.85;
}

.underline {
  text-decoration: underline;
  color: #ffe4ff;
  font-size: 2rem;
}

html {
  overflow: hidden;
}

h1 {
  font-family: 'pixel_operator_8regular';
  font-size: 3rem;
  color: #ffe4ff;
}

h2 {
  font-family: 'pixel_operator_8regular';
  font-size: 2rem;
  color: #ffe4ff;
}

h3 {
  font-family: 'pixel_operator_8regular';
  font-size: 1.5rem;
  color: #ffe4ff;
}

/* About page paragrah */
p {
  font-family: 'pixel_operator_8regular';
  font-size: 1.5rem;
  color: #ffe4ff;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  background-color: #ea85ff;
}

.navbar-default .navbar-toggle {
  border-color: #be4dff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

/* Media Queries */
@media (min-width:1071px) and (max-width:1279px) {
  .header nav a {
    font-size: 13px;
  }

  .logo {
    font-size: 44px;
  }
}

@media (max-width:1070px) {
  .hide-mobile {
    display: none;
  }

  .nav-row {
    float: left;
    width: 50%;
  }

  .logo-mobile {
    margin-left: 0;
    left: 0;
    width: 50%;
    display: block;
    float: left;
  }

  .logo-mobile img {
    max-width: 60%;
  }

  .header {
    padding: 7px 3px;
  }

  .header nav ul li {
    /*width: 24%; display:inline-block;padding:0;text-align: center;vertical-align: top;margin-top: 62px;*/
  }

  .logo-wrapper {
    display: none !important;
  }

  .header nav a {
    font-size: 13px;
  }

  .header nav ul {
    margin-top: 17px;
  }
}

@media (max-width:768px) {
  main {
    background-size: cover;
    background-position: left center;
    height: calc(100vh - 0px);
  }

  .audiojs {
    display: none;
  }

  .header nav a {
    font-size: 12px;
  }

  .sub-menu a {
    font-size: 11px !important;
  }

  .logo-mobile {
    margin-left: 0;
    left: 0;
    width: 70%;
    display: block;
    float: left;
    position: absolute;
  }

  .nav-row {
    float: left;
    width: 50%;
    margin-left: 50%;
  }

  .header nav ul li {
    display: block;
    padding: 10px;
    text-align: left;
    background-color: #201084;
  }

  #menu-collapse {
    position: absolute;
    width: 100%;
    top: 42px;
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  button.navbar-toggle {
    position: absolute;
    right: -10px;
    top: 11px;
    z-index: 22;
  }

  .header nav ul li ul {
    display: block;
    position: relative;
    border-top: 2px solid #ea85ff;
    width: 90%;
    margin-left: 10%;
    text-align: right;
  }
}

@media (max-width:414px) {
  .header nav a {
    font-size: 12px;
  }
}

footer {
  color: #391DA1;
  font-family: 'pixel_operator_8regular';
  text-align: center;
}

.btn-sm {
  background-color: #5B5CC9;
  font-family: 'pixel_operator_8regular';
  color: #5DAF8D;
  position: absolute;
  right: 0;
  bottom: 0;
}
